PORT=3000
NODE_ENV=development

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=fs_fragrances

JWT_SECRET=change_this_to_a_long_random_secret_key
JWT_EXPIRES_IN=24h

ADMIN_USERNAME=admin2010
ADMIN_PASSWORD=746522AF

CORS_ORIGIN=*
